<p-toast></p-toast>
<div class="container">
    <div class="m-2">
        <form [formGroup]="communityForm">
            <b class="mb-3">General Information</b>
            <br/>
            <div class="row mt-5">
                <div class="field col">
                    <span class="p-float-label">
                        <input type="text" id="inputtext" class="w-100" pInputText formControlName="name"  /> 
                        <label for="inputtext">Community name</label>
                    </span>
                </div>
                <div class="col"></div>                    
            </div>
            <div class="row">
                <div class="col">
                    <div class="field mt-4">
                        <span class="p-float-label">
                            <input type="text" id="inputtext" class="w-100" pInputText formControlName="address1" /> 
                            <label for="inputtext">Address Line 1</label>
                        </span>
                    </div>                                                                 
                    <div class="field mt-4">
                        <span class="p-float-label">
                            <input type="text" id="inputtext" class="w-100" pInputText formControlName="city"/> 
                            <label for="inputtext">City</label>
                        </span>
                    </div> 
                    <div class="field mt-4">
                        <span class="p-float-label">
                            <input type="text" id="inputtext" class="w-100" pInputText formControlName="country" /> 
                            <label for="inputtext">Country</label>
                        </span>
                    </div> 
                </div>
                <div class="col">
                    <div class="field mt-4">
                        <span class="p-float-label">
                            <input type="text" id="inputtext" class="w-100" pInputText formControlName="address2"/> 
                            <label for="inputtext">Address Line 2</label>
                        </span>
                    </div> 
                    <div class="field mt-4">
                        <span class="p-float-label">
                            <input type="text" id="inputtext" class="w-100" pInputText formControlName="state" /> 
                            <label for="inputtext">State</label>
                        </span>
                    </div> 
                    <div class="field mt-4">
                        <span class="p-float-label">
                            <input type="text" id="inputtext" class="w-100" pInputText formControlName="zipcode"/> 
                            <label for="inputtext">Zipcode</label>
                        </span>
                    </div> 
                </div>
                <div class="col"></div>
            </div>  
            <div  class="d-flex justify-content-end">                    
                <button pButton pRipple type="button" label="CANCEL" class="p-button-outlined p-button-danger m-2" styleClass="p-button-sm" (click)="cancel()"></button>
                <button pButton pRipple type="button" class="m-2" label="SAVE" styleClass="p-button-sm" (click)="save()" ></button>                             
            </div>              
        </form>         
    </div>
</div>