<div class="container">
  <div class="row mt-3">
    <div class="col-3">
    </div>
    <div class="col-9"></div>
  </div>
  <div class="row">
    <p-card header="Tenant">
      <form >
        <div class="row">
          <div class="col">
            <div class="field m-2">
              <small for="inputtext">First name</small>
              <input type="text" id="inputtext" class="w-100" pInputText />
            </div>
            <div class="field m-2">
              <small for="inputtext">Phone</small>
              <input type="text" id="inputtext" class="w-100" pInputText />
            </div>
          </div>
          <div class="col">
            <div class="field m-2">
              <small for="inputtext">Last name</small>
              <input type="text" id="inputtext" class="w-100" pInputText />
            </div>
          </div>
          <div class="col">
            <div class="field m-2">
              <small for="inputtext">Email</small>
              <input type="email" id="inputtext" class="w-100" pInputText />
            </div>
          </div>
        </div>
        <p-divider></p-divider>
        <div class="row">
          <div class="col">
            <div class="field m-2">
              <small for="inputtext">First name</small>
              <input type="text" id="inputtext" class="w-100" pInputText />
            </div>
          </div>
          <div class="col">
            <div class="field m-2">
              <small for="inputtext">Last name</small>
              <input type="text" id="inputtext" class="w-100" pInputText />
            </div>
          </div>
          <div class="col">
            <div class="field m-2">
              <small for="inputtext">Email</small>
              <input type="email" id="inputtext" class="w-100" pInputText />
            </div>
          </div>
        </div>


      </form>

    </p-card>
  </div>
</div>
