<div class="container">
  <h2 class="mt-1">Maintenance</h2>
  <p-toast></p-toast>
  <p-tabView >
    <p-tabPanel header="Payment Schedule">
      <p-menubar class="" [model]="items"></p-menubar>
      <p-table [value]="maintenanceScheduleList" selectionMode="single" [paginator]="true" [rows]="10" [(selection)]="selectedPeriod" styleClass="p-datatable-striped">
        <ng-template pTemplate="header">
            <tr>
                <th>Start Date</th>
                <th>End Date</th>
                <th>Amount</th>
                <th>Status</th>
                <th>TransDate</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-period>
            <tr [pSelectableRow]="period">
                <td>{{period.PeriodStartDate | date:'mediumDate'}}</td>
                <td>{{period.PeriodEndDate | date: 'mediumDate'}}</td>
                <td>{{period.MaintenanceAmount}}</td>
                <td>
                  <p-chip *ngIf="period.Status">Paid</p-chip>
                  <p-chip *ngIf="!period.Status">Due</p-chip>
                </td>
                <td>{{period.TransDate | date:'mediumDate'}}</td>
            </tr>
        </ng-template>
    </p-table>

    </p-tabPanel>
    <p-tabPanel header="Agreement">
      <app-maintenance-agreement></app-maintenance-agreement>
    </p-tabPanel>
    <p-tabPanel header="History">
        Content 3
    </p-tabPanel>
</p-tabView>
</div>
