  <div class="container mt-3">
    <p-carousel [value]="userApartments" [numVisible]="1" [numScroll]="1">
      <ng-template let-a pTemplate="item">
        <div class="row">
          <div class="col">
            <mat-card class="unit-card">
              <mat-card-header>
                <mat-card-title>Unit: {{a.ApartmentNum}}</mat-card-title>
                <mat-card-subtitle>{{a.Building?.Name}}, {{a.Floor}}</mat-card-subtitle>
              </mat-card-header>
              <mat-card-content>
                <h4>Your payment due.</h4>
                <p class="text-secondary">Payment due date</p>
                <p class="text-secondary">Payment Balance</p>
                <p class="text-secondary">Automatice payments: off</p>
                <mat-divider class="mt-3 mb-3"></mat-divider>
                <h4>Last payment</h4>
                <p class="text-secondary">Payment date</p>
                <p class="text-secondary">Payment Balance</p>
              </mat-card-content>
              <mat-card-actions >
                <button pButton class="full-btn p-button-warning" pRipple type="button" label="Payment"></button>
              </mat-card-actions>
            </mat-card>
          </div>
          <div class="col">
            <div class="row">
              <div class="col">
                <p-card pRipple class="pb-1 text-center" (click)="op.toggle($event)">
                  <span class="d-block material-symbols-outlined">person</span>
                  <span class="d-block">Owner</span>
                </p-card>

                <p-overlayPanel #op  [dismissable]="true" [showTransitionOptions]="'200ms'" [hideTransitionOptions]="'100ms'">
                  <ng-template pTemplate>
                    <div class="contact-card">
                      <div class="row">
                        <div class="col-2">
                          <p-avatar [label]="a.Owner.DisplayName[0]"></p-avatar>
                        </div>
                        <div class="col">
                          <span class="d-block fw-semibold">{{a.Owner.DisplayName}}</span>
                          <span class="d-block text-secondary">{{a.Owner.Email}}</span>
                        </div>
                      </div>
                      <p></p>
                      <div class="row">
                        <div class="col-2">
                          <span class="material-symbols-outlined">distance</span>
                        </div>
                        <div class="col">
                          <span class="d-block">Unit #{{a.ApartmentNum}}, {{a.Floor}}</span>
                          <span class="d-block">Building: {{a.Building.Name}}</span>
                        </div>
                      </div>
                    </div>
                  </ng-template>
              </p-overlayPanel>
              </div>
              <div class="col">
                <p-card pRipple *ngIf="a.Tenant!=null" class="pb-1 text-center" (click)="tp.toggle($event)">
                  <span class="d-block material-symbols-outlined">group</span>
                  <span class="d-block">Tenant</span>
                </p-card>
                <p-card pRipple *ngIf="a.Tenant==null" class="pb-1 text-center" (click)="viewModal(a)">
                  <span class="d-block material-symbols-outlined">group_add</span>
                  <span class="d-block">Add tenant</span>
                </p-card>
                <p-overlayPanel #tp [dismissable]="true" [showTransitionOptions]="'200ms'" [hideTransitionOptions]="'100ms'">
                  <ng-template pTemplate>
                    <div class="contact-card">
                      <div class="row">
                        <div class="col-2">
                          <p-avatar [label]="a.Tenant.DisplayName[0]"></p-avatar>
                        </div>
                        <div class="col-8">
                          <span class="d-block fw-semibold">{{a.Tenant.DisplayName}}</span>
                          <span class="d-block text-secondary">{{a.Tenant.Email}}</span>
                        </div>
                        <div class="col-2">
                          <button mat-icon-button>
                            <span class="material-symbols-outlined">delete</span>
                          </button>
                        </div>
                      </div>
                      <p></p>
                      <div class="row">
                        <div class="col-2">
                          <span class="material-symbols-outlined">distance</span>
                        </div>
                        <div class="col">
                          <span class="d-block">Unit #{{a.ApartmentNum}}, {{a.Floor}}</span>
                          <span class="d-block">Building: {{a.Building.Name}}</span>
                        </div>
                      </div>
                    </div>
                  </ng-template>
              </p-overlayPanel>
              </div>

              <p-card pRipple class="col pb-1 text-center">
                <span class="d-block material-symbols-outlined">workspace_premium</span>
                <span class="d-block">Agreement</span>
              </p-card>
              <p-card pRipple class="col pb-1 text-center">
                <span class="d-block material-symbols-outlined">home_repair_service</span>
                <span class="d-block">Services</span>
              </p-card>
            </div>
            <div class="row  mt-2">
              <p-card pRipple class="col pb-1 text-center">
                <span class="d-block material-symbols-outlined">payments</span>
                <span class="d-block">Payment</span>
              </p-card>
              <p-card pRipple class="col pb-1 text-center">
                <span class="d-block material-symbols-outlined">text_snippet</span>
                <span class="d-block">Policy</span>
              </p-card>
              <p-card pRipple class="col pb-1 m-1 text-center">
                <span class="d-block material-symbols-outlined">location_city</span>
                <span class="d-block">Community</span>
              </p-card>
              <p-card pRipple class="col pb-1 text-center">
                <span class="d-block material-symbols-outlined">help</span>
                <span class="d-block">Help</span>
              </p-card>
            </div>

          </div>
        </div>

      </ng-template>
  </p-carousel>
    <div *ngIf="false" class="row">
      <div class="col-7">
        <mat-card class="unit-card" *ngFor="let a of userApartments">
          <mat-card-header>
            <mat-card-title>Unit: {{a.ApartmentNum}}</mat-card-title>
            <mat-card-subtitle>{{a.Building?.Name}}, {{a.Floor}}</mat-card-subtitle>
          </mat-card-header>
          <mat-card-content>
            <h4>Your payment due.</h4>
            <p class="text-secondary">Payment due date</p>
            <p class="text-secondary">Payment Balance</p>
            <p class="text-secondary">Automatice payments: off</p>
            <mat-divider class="mt-3 mb-3"></mat-divider>
            <h4>Last payment</h4>
            <p class="text-secondary">Payment date</p>
            <p class="text-secondary">Payment Balance</p>
          </mat-card-content>
          <mat-card-actions >
            <button pButton class="full-btn p-button-warning" pRipple type="button" label="Payment"></button>
          </mat-card-actions>
        </mat-card>
      </div>
      <div class="col-5">
        <p-calendar [inline]="true" [showWeek]="true"></p-calendar>
      </div>
    </div>
  </div>

  <p-dialog header="Find User" [(visible)]="displayModal"  [modal]="true" [style]="{width: '50vw', height:'30vw'}">
    <span class="p-input-icon-left w-100">
      <i class="pi pi-search"></i>
      <input type="text" class="w-100" #usersearch (keyup)="findUsers(usersearch.value)"  pInputText placeholder="Search" />
    </span>

    <p-listbox [options]="users" [(ngModel)]="selectedUser" class="w-100" optionLabel="name">
      <ng-template class="w-100" let-user pTemplate="item">

        <div class="row">
          <div class="col-3">
            <p-avatar label="P" size="large"></p-avatar>
          </div>
          <div class="col-9">
            <span class="d-block" >{{user.DisplayName}}</span>
            <span class="d-block text-secondary">{{user.Email}}</span>
          </div>
        </div>
    </ng-template>
    </p-listbox>
    <ng-template pTemplate="footer">
      <div>
        <button pButton pRipple type="button" label="ADD" class="p-button-outlined" (click)="addTenant()"></button>
      </div>
    </ng-template>
  </p-dialog>
