<app-spinner-overlay class="track" mode="indeterminate" [value]="100" *ngIf="isprocessing"></app-spinner-overlay>
<p-toast position="top-right"></p-toast>
<div class="container">
    <div class="d-flex justify-content-center mt-5">
        <mat-card class="register-card" >
            <div class="row mt-2">
                <h1 class="text-center">User Registration</h1>
                <div class="text-center">
                    <h3 class="text-secondary d-inline">Already have an account?</h3>
                    <h3 class="pl-3 text-primary d-inline sign-in" [routerLink]="['/login']" routerLinkActive="router-link-active" > Sign In!</h3>
                </div>                        
            </div>  
            <div class="">
                <form class="mt-3 pl-5 pr-5" [formGroup]="registerForm" (ngSubmit)="register()">
                    <div class="row">
                        <div class="col">
                            <mat-form-field appearance="outline" class="p-1 w-100">
                                <mat-label>Email</mat-label>
                                <input id="email" matInput formControlName="email"/>  
                                <mat-hint *ngIf="registerFormControl.email.invalid && (registerFormControl.email.dirty || registerFormControl.email.touched)" class="text-danger">
                                    <div *ngIf="registerFormControl.email.errors?.['required']">Email is required.</div>
                                    <div *ngIf="registerFormControl.email.errors?.['email']">Invalid email address.</div>                            
                                </mat-hint>                                             
                            </mat-form-field>  
                            <mat-form-field appearance="outline" class="p-1 w-100">
                                <mat-label>First name</mat-label>
                                <input id="firstName" matInput formControlName="firstName"/>   
                                <mat-hint *ngIf="registerFormControl.firstName.invalid && (registerFormControl.firstName.dirty || registerFormControl.firstName.touched)" class="text-danger">
                                    <div *ngIf="registerFormControl.firstName.errors?.['required']">First name is required.</div>    
                                    <div *ngIf="registerFormControl.firstName.errors?.['maxlength']">
                                        Character limit is 50.
                                    </div>                                                    
                                </mat-hint>                       
                            </mat-form-field>
                            <mat-form-field appearance="outline" class="p-1 w-100">
                                <mat-label>Account Type</mat-label>
                                <mat-select formControlName="role">
                                    <mat-option value="Tenant">Tenant</mat-option>
                                    <mat-option value="Resident">Owner</mat-option>
                                </mat-select>                   
                                <mat-hint *ngIf="registerFormControl.role.invalid && (registerFormControl.role.dirty || registerFormControl.role.touched)" class="text-danger">
                                    <div *ngIf="registerFormControl.role.errors?.['required']">Role is required.</div>                                                                                  
                                </mat-hint>   
                            </mat-form-field>
                            <mat-form-field appearance="outline" class="p-1 w-100">
                                <mat-label>Password</mat-label>
                                <input matInput type="password" formControlName="password"/>
                                <mat-hint *ngIf="registerFormControl.password.invalid && (registerFormControl.password.dirty || registerFormControl.password.touched)" class="text-danger">
                                    <div *ngIf="registerFormControl.password.errors?.['required']">Password is required.</div>                                                                                  
                                </mat-hint> 
                            </mat-form-field> 
                        </div>
                        <div class="col">
                            <mat-form-field appearance="outline" class="p-1 w-100">
                                <mat-label>Username</mat-label>
                                <input id="username" matInput formControlName="username"/>  
                                <mat-hint *ngIf="registerFormControl.username.invalid && (registerFormControl.username.dirty || registerFormControl.username.touched)" class="text-danger">
                                    <div *ngIf="registerFormControl.username.errors?.['required']">Username is required.</div>                                                    
                                </mat-hint>                        
                            </mat-form-field>
                            <mat-form-field appearance="outline" class="p-1 w-100">
                                <mat-label>Last name</mat-label>
                                <input id="lastName" matInput formControlName="lastName"/>  
                                <mat-hint *ngIf="registerFormControl.lastName.invalid && (registerFormControl.lastName.dirty || registerFormControl.lastName.touched)" class="text-danger">
                                    <div *ngIf="registerFormControl.lastName.errors?.['required']">Last name is required.</div>    
                                    <div *ngIf="registerFormControl.lastName.errors?.['maxlength']">
                                        Character limit is 50.
                                    </div>                                                    
                                </mat-hint>                       
                            </mat-form-field> 
                            <mat-form-field appearance="outline" class="p-1 w-100">
                                <mat-label>Phone number</mat-label>
                                <input id="phone" matInput formControlName="phone"/>                  
                                <mat-hint *ngIf="registerFormControl.phone.invalid && (registerFormControl.phone.dirty || registerFormControl.phone.touched)" class="text-danger">
                                    <div *ngIf="registerFormControl.phone.errors?.['required']">Phone number is required.</div>                                                                                  
                                </mat-hint>   
                            </mat-form-field>
                            <mat-form-field appearance="outline" class="p-1 w-100">
                                <mat-label>Re-enter Password</mat-label>
                                <input matInput type="password" formControlName="password2" (input)="reenterPassword()"/>
                                <mat-hint *ngIf="registerFormControl.password2.invalid && (registerFormControl.password2.dirty || registerFormControl.password2.touched)" class="text-danger">
                                    <div *ngIf="registerFormControl.password2.errors?.['required']">Re-enter password.</div>      
                                    <div *ngIf="registerFormControl.password2.errors?.['matching']">Password not matching.</div>                                                                                
                                </mat-hint> 
                            </mat-form-field> 
                        </div>                       
                    </div>                               
                    <div class="p-1 mb-5 d-grid gap-2">                        
                        <button mat-flat-button type="submit"  color="primary">Register</button>
                    </div>                                       
                </form>
            </div>              
        </mat-card>   
    </div>
</div>