<div class="container">
    <h2 class="mt-3">Community Setup</h2>
    <mat-tab-group animationDuration="0"> 
        <mat-tab >
            <ng-template mat-tab-label>
                <span class="material-symbols-outlined mr-3">
                    group
                </span>
                Residents
              </ng-template>
        </mat-tab>  
        <mat-tab >
            <ng-template mat-tab-label>
                <span class="material-symbols-outlined mr-3">
                    home
                </span>
                Units
              </ng-template>
        </mat-tab>      
        <mat-tab >
            <ng-template mat-tab-label>
                <span class="material-symbols-outlined mr-3">
                    layers
                </span>
                 Floors
              </ng-template>
        </mat-tab>
        <mat-tab >
            <ng-template mat-tab-label>
                <span class="material-symbols-outlined mr-3">
                    home_work
                </span>
                 Buildings
              </ng-template>
        </mat-tab>
    </mat-tab-group>
</div>