::-webkit-scrollbar-thumb {
  background-color: #d6dee1;
  border-radius: 20px;
  border: 6px solid transparent;
  background-clip: content-box;
}

.mat-tab-body-content{
    height: 0px !important;
    overflow: hidden !important;
}

.tab-view-panel{
  background-color: white;
  border: 1px none white;
  padding: 20px;
  border-radius: 25px;
}
.apartment-setup{
  max-height: 700px;
  overflow-y: scroll;
}
