<div class="container">
    <h2 class="mt-3">Community Setup</h2>
    <div class="tab-view-panel">
        <p-tabView  styleClass="tabview-custom">
            <p-tabPanel>
                <ng-template pTemplate = "header">
                    <span class="material-symbols-outlined">home</span>
                    <span>Units</span>
                </ng-template>
                <app-apartment-config class="apartment-setup"></app-apartment-config>
            </p-tabPanel>
            <p-tabPanel>
                <ng-template pTemplate = "header">
                    <span class="material-symbols-outlined">emoji_transportation</span>
                    <span>Buildings</span>
                </ng-template>
                <app-building-config></app-building-config>
            </p-tabPanel>
            <p-tabPanel>
                <ng-template pTemplate = "header">
                    <span class="material-symbols-outlined mr-3">home_work</span>
                    <span>Community</span>
                </ng-template>
                <app-community-config></app-community-config>
            </p-tabPanel>

        </p-tabView>
    </div>

</div>
