<mat-nav-list class="sidemenu">
    <mat-list-item pTooltip="Apps">      
        <span class="material-symbols-outlined">apps</span>        
    </mat-list-item>
    <mat-list-item class="mt-2" [routerLink]="['/home']" routerLinkActive="router-link-active" pTooltip="Home">      
        <span class="material-symbols-outlined">home</span>        
    </mat-list-item>
    <mat-list-item [routerLink]="['/sysadmin']" routerLinkActive="router-link-active" pTooltip="System Administration" >
        <span class="material-symbols-outlined">admin_panel_settings</span>
    </mat-list-item>
</mat-nav-list>