<p-toast></p-toast>
<div class="mt-2">
    <p-menubar [model]="items" class="mt-2"></p-menubar>  
    <div class="row mb-3">
        <div class="col-4">
            <div class="mt-4">
                <p-listbox [options]="buildings" [(ngModel)]="selectedBuilding" optionLabel="Name" [filter]="true"
                [listStyle]="{'max-height':'400px'}" (onClick)="selectBuilding()"></p-listbox>         
            </div>            
        </div>
        <div class="col-8">
            <form [formGroup]="buildingForm">
                <div class="row">
                    <b class="m-2">General Information</b>
                </div>     
                                            
                <div class="row">
                    <div class="field col m-2">
                        <small for="inputtext">Building name</small>
                        <input type="text" id="inputtext" class="w-100" pInputText formControlName="name"  />                         
                    </div>
                    <div class="col"></div>    
                </div>       
                <div class="row">
                    <div class="p-field-checkbox m-2">
                        <input [(ngModel)]="useCommunityAddress" formControlName="useCommunityAddress" type="checkbox"/> 
                        <label for="binary" class="mb-0 p-1">Use community address</label>                      
                    </div>
                    
                </div>          
                <div class="row"  *ngIf="!useCommunityAddress">
                    <div class="col">
                        <div class="field m-2">
                            <small class="pl-2 block text-secondary">Address Line 1</small>
                            <input type="text" id="inputtext" class="w-100" pInputText formControlName="address1"  />                             
                        </div> 
                        <div class="field m-2">
                            <small class="pl-2 block text-secondary">City</small>
                            <input type="text" id="inputtext" class="w-100" pInputText formControlName="city"  />  
                        </div>
                        <div class="field m-2">
                            <small class="pl-2 block text-secondary">Country</small>
                            <input type="text" id="inputtext" class="w-100" pInputText formControlName="country"  />  
                        </div>
                    </div>
                    <div class="col">
                        <div class="field m-2">
                            <small class="pl-2 block text-secondary">Address Line 2</small>
                            <input type="text" id="inputtext" class="w-100" pInputText formControlName="address2"  />  
                        </div>
                        <div class="field m-2">
                            <small class="pl-2 block text-secondary">State</small>
                            <input type="text" id="inputtext" class="w-100" pInputText formControlName="state"  />  
                        </div>
                        <div class="field m-2">
                            <small class="pl-2 block text-secondary">Zipcode</small>
                            <input type="text" id="inputtext" class="w-100" pInputText formControlName="zipcode"  />  
                        </div>
                    </div>
                </div>                      
            </form>
        </div>
    </div>            
</div>