/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';
@import 'ag-grid-community/styles/ag-grid.css';
@import 'ag-grid-community/styles/ag-theme-balham.css';


body{
    background-color: #E6E6E6 !important;
    font-size: 14px !important;
}
.p-component {
  font-size: 14px !important;
}
.p-menubar {
  background:none !important;
  border: none !important;
  display: flex;
  justify-content:flex-end !important;
}
.p-tabview .p-tabview-panels {
  padding-top: 10px !important;
}
.material-symbols-outlined{
  cursor: pointer;
}
.p-card-title,.p-dialog-title {
  font-weight:normal !important;
}


html, body
{
    height: 100%;
}
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
/* Color Theme Swatches in Hex */
.Grey-1-hex { color: #F2F2F2; }
.Grey-2-hex { color: #BFBFBF; }
.Grey-3-hex { color: #8C8C8C; }
.Grey-4-hex { color: #3D3D3D; }
.Grey-5-hex { color: #0D0D0D; }

/* Color Theme Swatches in RGBA */
.Grey-1-rgba { color: rgba(242, 242, 242, 1); }
.Grey-2-rgba { color: rgba(191, 191, 191, 1); }
.Grey-3-rgba { color: rgba(140, 140, 140, 1); }
.Grey-4-rgba { color: rgba(61, 61, 61, 1); }
.Grey-5-rgba { color: rgba(12, 12, 12, 1); }

/* Color Theme Swatches in HSLA */
.Grey-1-hsla { color: hsla(0, 0, 94, 1); }
.Grey-2-hsla { color: hsla(0, 0, 74, 1); }
.Grey-3-hsla { color: hsla(0, 0, 54, 1); }
.Grey-4-hsla { color: hsla(0, 0, 23, 1); }
.Grey-5-hsla { color: hsla(0, 0, 5, 1); }
