.sign-in-btn{
    height: 50px;
}
.login-card{
    width: 50%;
    align-items: center;
}
.sign-up{
    cursor: pointer;
}
@media screen and (max-width: 960px) {
    button {
        width: 100%;
        margin-bottom: .5rem;
    }
}